.planet-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.planet-image {
  width: 400px;
}
.planet-heading {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Roboto';
}
.planet-desc {
  color: #f1f5f9;
  text-align: center;
  font-family: 'Roboto';
}
